* {
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

body {height: 5000px;background-color: #080D27;}

#sidebar {
    position: fixed;
    top: 200px;
    left: 60px;
}
#sidebar .current {
    color: white;
}
#sidebar h2{
    color: #9e9e9e;
    font-size: 16px;
}
#sidebar p{
    color: #9e9e9e;
    padding-top: 5px;
    font-size: 12px;
}
#sidebar .vl {
    position: fixed;
    left: 40px;
    top: 220px;
}
#Amerta{
    margin-top: 20vh;
}
#RhythmCouple{
    object-fit: cover;
    height: 500px;
}
.vl {
    border-left: 1px solid white;
    height: 280px;
}

.cover{
    top: 0px;
    z-index: -1;
    position: absolute;
}
.cover img{
    width: 100%;
}
.menu img {
    margin-top: 7px;
    margin-left: 20px;
}
ul.menu {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

ul.menu li {float: left;}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {color: orange;}

#logo:hover { color: #aaaaaa;}

ul.menu li a.active {background-color: #04AA6D;}

ul.menu li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.menu li.right, 
  ul.menu li {float: none;}
  ul .right {display: none;}
  ul.menu img { display: block;margin-left: auto;margin-right: auto;}
}

.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .montserrat-alternates-black {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-alternates-thin-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-alternates-extralight-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .montserrat-alternates-light-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-alternates-medium-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-alternates-semibold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .montserrat-alternates-black-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  